/* NAVIGATION */
#navbar{
    flex-direction: column;
    gap: 0px;
    height:180px;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 0px 6px;
}
.item {
    font-size: medium; 
}
.item1 {
    font-size: medium; 
}
.button {
    font-size: smaller;
}

/* HOME SECTION */
#home{
    height: 500px;
    padding: 3px 50px;
}

#home::before{
    height: 800px;
}
#home p{
    font-size: 25px;
}

/* SERVICES SECTION */
#services{
    flex-direction: column;
    margin: 15px;
}
#services .box img{
    height: 125px;
}

/* NEWS SECTION */
#news{
    height: auto;
    width: auto;
}
#news1{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
 }
.box2{
    width: auto;
    display: block;
    width: 180px;
}
.box2 img{  
    height: 110px;
}

/* UTILITY CLASSES */
.baslik{
    font-size: 37px;
}
.btn{
    font-size: 10px;
    padding: 5px 10px;
}